* {
  padding: 0px;
  margin: 0px;
  box-sizing: content-box;
  overflow: hidden;
}

h1,
h2 {
  padding: 20px;
  background-color: steelblue;
  width: 30%;
  margin: auto;
  border-radius: 10px;
  text-align: center;
  color: white;
}

p {
  padding: 5px 50px;
  width: 30%;
  margin: auto;
  border-radius: 10px;
}
